@layer base {
  img {
    @apply max-w-none;
  }
}
.text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.qrCodeImg {
    width: 288px;
    height: 288px;
    border-radius: 16px;
}